@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 5.5% auto auto;
  grid-template-columns: 20% 50% 30%;
  grid-template-areas: "nav search search"
                       "nav box1 box2"
                       "nav box1 box2";
  background-color:  #E5E5E5;
  
}
li {
    list-style: none;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}
.nav-bar{
  grid-column-gap: 0;
   grid-area: nav;
   vertical-align: middle;
}
header {
    position: relative;
    box-shadow: 1px 9px 20px 0px rgb(0 0 0 / 25%);
    height: 100vh;
    background-color: white;
}
header .nav-title {
    /* padding: 9px 3px 3px 6px; */
    color: blue;
    margin-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
}
header .nav-title h2 {
    font-size: 18px;
    padding: 10px;
}
.account-block  {
    /* height: 40px; */
    display: flex;
    padding: 15px;
    flex-direction: row;
}
.account-block .account-image img {
    margin-right: 15px;
    border-radius: 50%;
}
.account-block .account-name {
    font-weight: 500;
    font-style: normal;
    padding-top: 4px;
}
.settings {
    border-top: 1px solid #E5E5E5;
}
.account-block .account-name h3 {
    font-size: 14px;
    color: #192A3E;
    font-weight: 500;
    line-height: 21px;
  
}
.account-block .account-name p {
    
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

nav ul {
    padding: 0px 10px;
}
nav ul svg {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    vertical-align: middle;
}
nav ul li {
    font-weight: 500;
    color:  #334D6E;
    list-style-type: none;
    padding: 5px 20px;
    font-size: 13px;
    line-height: 19px;
}
nav ul li a,
.toggle-sidebar a {
    text-decoration: none;
}
.selected {
    font-weight: 700;
    color: #109CF1;
}
.toggle-sidebar {
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 11px;
    line-height: 16px;
    color: #90A0B7;
}
.search-bar {
   grid-area: search;
   background-color: white;
}
.search-bar-form {
    font-size: 12px;
    background-color: white;
 }
 .search-form{
     padding: 10px;
 }
 #search {
     border: none;
     margin-left: 15px;
     width: 95%;
 }
 input:focus {
     outline-width: 0;
 }
.box-item1 {
    grid-area: box1;
    margin: 20px;
    box-shadow: 1px 9px 20px 0px rgb(0 0 0 / 25%);
    border-radius: 4px;
}
.box-item1 p, .box-item2 p {
    display: inline;
    font-size: 11px;
    padding: 15px 15px 0;
    
}
.box-item1 a {
    text-decoration: none;
    font-size: 11px;
}
.link-tasks {
    text-align: center;
}
/* first line in box 1 */
.par1 {
    float: left;
}
.par2 {
    float: right;
}
.par2 span {
    color: blue;
    font-weight: 300;
}
.graph {
   display: inline;
}

/* PERCENT LINE */
.percent
{
    position: relative;
    width: 95%;
    height: 3px;
    background: #EBEFF2;
    display: inline-block;
    margin: 5px 15px;
}
.percent div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #2ED47A
}
.date h5 {
    font-size: 15px;
    font-weight: 500;
    color:#192A3E;
    margin: 5px 15px;
}
.card-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-size: 11px;
    padding-left: 0px;
    margin-bottom: 0;
    color: #109CF1;;
}
.card-days li {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 1px;
}
.list-selected {
    color: white !important;
    border-radius: 50%;
    background-color: blueviolet;
    padding: 5px;
}
.card-date {
    display: grid;
    gap: 3px;
    color: #4C5862;
    height: 14px;
    padding-left: 0px;
    font-size: 11px;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}
.card-date li {
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    position: relative;
}
.top-box, .bottom-box {
    background-color: #fff;
    box-shadow: 1px 9px 20px 0px rgb(0 0 0 / 25%);
    margin-bottom: 25px;
    border-radius: 4px;
    height: 47.5%;
}

.dboard {
    display: flex;
    align-items: center;
}
.box-item2 {
   grid-area: box2;
   margin: 20px 20px 8px 0;
   background-color: #E5E5E5 !important;
}
.mg-bt-0 {
    margin-bottom: 0;
} 
.top-circle{
    margin-top: 30px;
}
.top-circle img {
    height: 265px;
    width: 265px;
    margin: 20px 2px;
}
.second-list-el {
    margin-top: 5px;
    color: black;
    opacity: 1;
    font-size: 11px !important;
}
.second-list-el span {
    color: #4C5862;
    font-weight: bold;
    opacity: 0.5;
} 
.task-boxes {
    margin-top: 50px;
}
.task-boxes .box ul li
.task-span {
    opacity: 0.5;
    float: right;
    font-size: 12px;
    color: #90A0B7;
}
.name-par{
    position: relative;
    top: -5px;
    left: -10px;
}
.block-box {
    display: block;
}
.box {
    height: 175px;
    width: 95%;
    margin: 5px 15px;
    border-radius: 4px;
    display: block;
    padding: 15px;
    box-shadow: 11px 9px 20px 0px rgb(0 0 0 / 8%);
    border-radius: 4px;
}
.img-profile-sm{
    border-radius: 50%;
}
.box ul {
    padding-left: 0px;
}
.white-bx {
    background-color: white;
}
.box ul li {
    font-size: 13px;
    font-weight: bold;
}
.btn {
    background-color: #17c617;
    padding: 3px 9px;
    width: auto;
    font-size: 12px;
    border-radius: 9px;
    letter-spacing: 1px;
    color: white !important;
}
.btn-end {
    background-color: red;
}

.circle-deals
{
    position: relative;
    width: 95%;
    height: 10px;
    display: inline-block;
    margin: 5px 15px;
}
.circle-deals .circle
{
	position: absolute;
	top: 34px;
	left: 0;
    width: 8px;
	height: 8px;
    border: 2px solid #109CF1;
	border-radius: 50%;
}
.circle-deals .circle-text {
    margin: 4px 15px; 
    font-size: 11px;
    opacity: 0.5;
}
.circle-text {
    padding-top: 25px;
    line-height: 20px;
}
.top-graph img {
    height: 50%;
    width: 100%;
    padding: 0 30px;
}
.circle-chart {
    display: flex;
}
.circle-text ul {
    margin: 120px 20px;    
}
.circle-text ul li {
    font-size: 20px;
    list-style-type: circle;
    margin-left: 30px;
}

@media screen and (max-width: 482px) {
    body {
        overflow-x: hidden;
    }
    .grid-container {
     
        grid-template-areas: "search search search"
                       "box1 box1 box1"
                       "box2 box2 box2";
    }
    header {
        visibility: hidden;
    }
    .grid-container > div {
        font-size: 14px;
    }
    .box-item1 {
            height: 100vh;
            margin: 0;
    }
    .search-form {
        padding: 10px;
    }
    #search {
        width: 87%;
    }
    .box-item1{
        height: 100%;
    }
    .box-item2 {
        width: 100%;
    }
    .card-date {
        display: flex;
    }
    .top-circle img {
        height: 171px;
        width: 155px;
        margin: 20px -30px;
    }
    .circle-text ul {
        margin: 80px 40px;
    }
}
